[submodule "Mods/JokerDisplay"]
	path = Mods/JokerDisplay
	url = https://github.com/nh6574/JokerDisplay
[submodule "Mods/Cartomancer"]
	path = Mods/Cartomancer
	url = https://github.com/stupxd/Cartomancer
[submodule "Mods/Galdur"]
	path = Mods/Galdur
	url = https://github.com/Eremel/Galdur/
[submodule "Mods/Flower-Pot"]
	path = Mods/Flower-Pot
	url = https://github.com/GauntletGames-2086/Flower-Pot
[submodule "Mods/TooManyJokers"]
	path = Mods/TooManyJokers
	url = https://github.com/cg-223/toomanyjokers
[submodule "Mods/DiscoveryManager"]
	path = Mods/DiscoveryManager
	url = https://github.com/lshtech/DiscoveryManager
[submodule "Mods/HeyListen"]
	path = Mods/HeyListen
	url = https://github.com/SleepyG11/HeyListenBalatro
[submodule "Mods/Blueprint"]
	path = Mods/Blueprint
	url = https://github.com/stupxd/Blueprint
[submodule "Mods/FoldButton"]
	path = Mods/FoldButton
	url = https://github.com/happinyz/BalatroFoldButton
[submodule "Mods/Handy"]
	path = Mods/Handy
	url = https://github.com/SleepyG11/HandyBalatro
[submodule "Mods/Steamodded"]
	path = Mods/Steamodded
	url = https://github.com/Steamodded/smods
[submodule "Mods/ModPackFixes"]
	path = Mods/ModPackFixes
	url = https://github.com/lshtech/ModPackFixes
[submodule "Mods/FlushHotkeys"]
	path = Mods/FlushHotkeys
	url = https://github.com/Dimserene/FlushHotkeys
[submodule "Mods/SystemClock"]
	path = Mods/SystemClock
	url = https://github.com/Breezebuilder/SystemClock
[submodule "Mods/Order"]
	path = Mods/Order
	url = https://github.com/pinkmaggit-hub/Order/
[submodule "Mods/CustomSuitOrder"]
	path = Mods/CustomSuitOrder
	url = https://github.com/DigitalDetective47/suit-order
[submodule "Mods/DebugPlus"]
	path = Mods/DebugPlus
	url = https://github.com/Dimserene/DebugPlus
