[submodule "Mods/JokerDisplay"]
	path = Mods/JokerDisplay
	url = https://github.com/nh6574/JokerDisplay
[submodule "Mods/Cartomancer"]
	path = Mods/Cartomancer
	url = https://github.com/stupxd/Cartomancer
[submodule "Mods/Galdur"]
	path = Mods/Galdur
	url = https://github.com/Eremel/Galdur/
[submodule "Mods/Flower-Pot"]
	path = Mods/Flower-Pot
	url = https://github.com/GauntletGames-2086/Flower-Pot
[submodule "Mods/TooManyJokers"]
	path = Mods/TooManyJokers
	url = https://github.com/cg-223/toomanyjokers
[submodule "Mods/Trance"]
	path = Mods/Trance
	url = https://github.com/MathIsFun0/Trance
[submodule "Mods/DiscoveryManager"]
	path = Mods/DiscoveryManager
	url = https://github.com/lshtech/DiscoveryManager
[submodule "Mods/HeyListen"]
	path = Mods/HeyListen
	url = https://github.com/SleepyG11/HeyListenBalatro
[submodule "Mods/Blueprint"]
	path = Mods/Blueprint
	url = https://github.com/stupxd/Blueprint
[submodule "Mods/DebugPlus"]
	path = Mods/DebugPlus
	url = https://github.com/WilsontheWolf/DebugPlus
[submodule "Mods/FoldButton"]
	path = Mods/FoldButton
	url = https://github.com/happinyz/BalatroFoldButton
[submodule "Mods/Handy"]
	path = Mods/Handy
	url = https://github.com/SleepyG11/HandyBalatro
[submodule "Mods/Steamodded"]
	path = Mods/Steamodded
	url = https://github.com/Steamodded/smods
[submodule "Mods/ModPackFixes"]
	path = Mods/ModPackFixes
	url = https://github.com/lshtech/ModPackFixes
[submodule "Mods/DeckSkinsLite"]
	path = Mods/DeckSkinsLite
	url = https://github.com/Dimserene/DeckSkinsLite
[submodule "Mods/FlushHotkeys"]
	path = Mods/FlushHotkeys
	url = https://github.com/Dimserene/FlushHotkeys
[submodule "Mods/EnhancedEnhancements"]
	path = Mods/EnhancedEnhancements
	url = https://github.com/Eremel/Luna-s-Enhancements/
[submodule "Mods/Moonspell-Cards"]
	path = Mods/Moonspell-Cards
	url = https://github.com/Eremel/Moonspell-Cards
[submodule "Mods/SpecTrans"]
	path = Mods/SpecTrans
	url = https://github.com/Eremel/SpecTrans
[submodule "Mods/BalatroWilds"]
	path = Mods/BalatroWilds
	url = https://github.com/Eremel/BalatroWilds
[submodule "Mods/Isaac-Tarot"]
	path = Mods/Isaac-Tarot
	url = https://github.com/theZamos/Isaac-Tarot
[submodule "Mods/BlueStorm"]
	path = Mods/BlueStorm
	url = https://github.com/Sesebasti/BlueStorm_Malverk
[submodule "Mods/ColorblindSeals"]
	path = Mods/ColorblindSeals
	url = https://github.com/martinkauppinen/colorblind-seals
[submodule "Mods/Finn-Pokemon-Jokers"]
	path = Mods/Finn-Pokemon-Jokers
	url = https://github.com/Finnaware/Finn-Pokemon-Jokers/
[submodule "Mods/MarvelMidnightSuns"]
	path = Mods/MarvelMidnightSuns
	url = https://github.com/Staegloth/BalatroMarvelMidnightSuns/
[submodule "Mods/MarvelUniverse"]
	path = Mods/MarvelUniverse
	url = https://github.com/Eremel/MarvelUniverse/
[submodule "Mods/BalatroThoth"]
	path = Mods/BalatroThoth
	url = https://github.com/Staegloth/BalatroThoth
[submodule "Mods/Malverk"]
	path = Mods/Malverk
	url = https://github.com/Eremel/Malverk/
[submodule "Mods/Aure-Spectral"]
	path = Mods/Aure-Spectral
	url = https://github.com/Eremel/Aure-Spectral/
[submodule "Mods/Celestial-Funk"]
	path = Mods/Celestial-Funk
	url = https://github.com/LimeEffy/Celestial-Funk
[submodule "Mods/Order"]
	path = Mods/Order
	url = https://github.com/pinkmaggit-hub/Order/
[submodule "Mods/SystemClock"]
	path = Mods/SystemClock
	url = https://github.com/Breezebuilder/SystemClock
